
<!--
<div class="container">
    <form>
    <div class="mb-3">
        <label for="inputHotelName" class="form-label">Hotel Name</label>
        <input type="text" class="form-control" id="InputName" aria-describedby="NameHelp">
    </div>
    <div class="mb-3">
        <label for="InputBeds" class="form-label">Number of beds</label>
        <input type="number" class="form-control" id="inputBed">
    </div>

    <div class="mb-3">
        <label for="InpuCity" class="form-label">City</label>
        <input type="text" class="form-control" id="InputCity">
    </div>

    <div class="mb-3">
        <label for="InpuArea" class="form-label">Area</label>
        <input type="text" class="form-control" id="InputArea">
    </div>
    -->
    <!--
        CheckMarks

         <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    -->
<!--
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
</div>
-->


